<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36629517039-i35ro8cu95un2j901uas7bfc4okoblbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36629517039-i35ro8cu95un2j901uas7bfc4okoblbg</string>
	<key>API_KEY</key>
	<string>AIzaSyCQr8sHc2f08FRKV9L2cgkYb9mLsaacNOY</string>
	<key>GCM_SENDER_ID</key>
	<string>36629517039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.one-person-twitter</string>
	<key>PROJECT_ID</key>
	<string>onepersontwitter-cc8bf</string>
	<key>STORAGE_BUCKET</key>
	<string>onepersontwitter-cc8bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36629517039:ios:6677f02c507c3521b1411a</string>
</dict>
</plist>